@import url("../vendor/fonts/Prata/prata.css");
@import url("../vendor/fonts/Playfair_Display/playfair.css");
@import url("normalize.css");
.button {
  width: 205px;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.6;
}

.line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  border-bottom: 1px solid #8B8371;
  margin-bottom: 4px;
}

.page {
  max-width: 1366px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 30px 7.3206442167vw;
  background-color: #FDFDFB;
  color: #555248;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo .logo__title {
  margin: 0;
  padding-left: 4px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
}

.menu__items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.7584187408vw;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.menu__items .menu__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  cursor: pointer;
}
.menu__items .menu__link:hover {
  opacity: 0.6;
}

.actions .actions__items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6837481698vw;
}
.actions .actions__items .action__item {
  position: relative;
}
.actions .actions__items .action__item .action__link {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  cursor: pointer;
}
.actions .actions__items .action__item .action__link:hover {
  opacity: 0.6;
}
.actions .actions__items .action__item .action__link_count {
  color: #1B1A17;
}
.actions .actions__items .action__item .action__link_count .count {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(55%, -40%);
          transform: translate(55%, -40%);
  background-color: #E6C8B4;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8px;
  line-height: 9px;
  font-weight: 400;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDFDFB;
  position: relative;
  padding: 0 200px 0 185px;
}
.collection .collection__content {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
}
.collection .collection__content .collection__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Playfair Display";
  color: #1B1A17;
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
}
.collection .collection__content .collection__subtitle {
  margin: 0;
  font-family: "Playfair Display";
  color: #1B1A17;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.collection .collection__content .collection__description {
  margin: 0;
  margin: 39px 0 64px;
  width: 18.8872620791vw;
  color: rgba(27, 26, 23, 0.82);
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
.collection .collection__content .button {
  background-color: #444240;
}
.collection .collection__content .line {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  left: -14%;
  top: 10%;
}
.collection .collection__half-circle {
  position: relative;
  min-width: 496px;
  right: 20%;
  height: 944px;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 227, 212, 0)), to(#EAE3D4));
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  -webkit-clip-path: inset(94px 0 82px 0);
          clip-path: inset(94px 0 82px 0);
}
.collection .collection__half-circle .price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  left: 20%;
  top: 25%;
  font-family: "Prata", serif;
}
.collection .collection__half-circle .price .price__text {
  margin: 0;
  margin-right: 8px;
}
.collection .collection__half-circle .price .collection__line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  border-bottom: 1px solid #8B8371;
  margin-bottom: 4px;
  margin-left: 15px;
}
.collection .collection__watch {
  position: relative;
  right: 53%;
  bottom: -6px;
  display: block;
  min-width: 502px;
  height: 768px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../vendor/images/watch_main.png");
}
.collection .collection__watch .diameter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  right: -18%;
  bottom: 14%;
  font-family: "Prata", serif;
}
.collection .collection__watch .diameter .diameter__text {
  margin: 0;
}
.collection .collection__watch .diameter .diameter__line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  border-bottom: 1px solid #8B8371;
  margin-bottom: 4px;
  margin-right: 15px;
}