@import url('../vendor/fonts/Prata/prata.css');
@import url('../vendor/fonts/Playfair_Display/playfair.css');
@import url('normalize.css');

$back_main: #FDFDFB;

@mixin hover() {
  transition: opacity .4s;

  &:hover {
    opacity: .6;
  }
}

@mixin list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font ($size, $height, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

.page {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 30px 100/1920*100vw;
  background-color: $back_main;
  color: #555248;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {

}


.logo {
  display: flex;
  align-items: center;

  .logo__title {
    margin: 0;
    padding-left: 4px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
  }
}

.menu__items {
  @include list();
  gap: 65/1920*100vw;
  @include font(14px, 16px);

  .menu__link {
    text-decoration: none;
    color: inherit;
    @include hover();
  }
}

.actions {

  .actions__items {
    @include list();
    gap: 23/1920*100vw;

    .action__item {
      position: relative;

      .action__link {
        @include hover();
      }

      .action__link_count {
        color: #1B1A17;

        .count {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(55%, -40%);
          background-color: #E6C8B4;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include font(8px, 9px);
        }
      }
    }
  }
}

.collection {
  display: flex;
  align-items: center;
  background-color: $back_main;
  position: relative;
  padding: 0 200px 0 185px;

  .collection__content{
    display: flex;
    flex-direction: column;
    width: 350px;
    .collection__title {
      font-family: 'Playfair Display';
      color: #1B1A17;
      @include font(45px, 60px);
    }
  }

  .collection__half-circle {
    position: relative;
    width: 496px;
    height: 944px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
    clip-path: inset(94px 0 82px 0);

    .price{
      position: absolute;
      display: flex;
      align-items: baseline;
      left: 20%;
      top: 25%;
      font-family: 'Prata', serif;

      .price__text {
        margin: 0;
        margin-right: 8px;
      }

      .line{
        align-self: center;
        width: 50px;
        border-bottom: 1px solid #8B8371;
        margin-left: 15px;
        margin-bottom: 4px;
      }
    }
  }
  .collection__watch {
    position: relative;
    left: -300px;
    overflow: visible;
    display: block;
    width: 502px;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../vendor/images/watch_main.png');

  }
}
