@import url('../vendor/fonts/Prata/prata.css');
@import url('../vendor/fonts/Playfair_Display/playfair.css');
@import url('normalize.css');

$back_main: #FDFDFB;

@mixin hover() {
  transition: opacity .4s;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

@mixin list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font ($size, $height, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin line ($width: 50px) {
  align-self: center;
  min-width: $width;
  border-bottom: 1px solid #8B8371;
  margin-bottom: 4px;
}


.button {
  width: 205px;
  height: 64px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(12px, 14px, 500);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  @include hover();
}

.line {
  @include line();
}

.page {
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 30px 100/1366*100vw;
  background-color: $back_main;
  color: #555248;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  .logo__title {
    margin: 0;
    padding-left: 4px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
  }
}

.menu__items {
  @include list();
  gap: 65/1366*100vw;
  @include font(14px, 16px);

  .menu__link {
    text-decoration: none;
    color: inherit;
    @include hover();
  }
}

.actions {

  .actions__items {
    @include list();
    gap: 23/1366*100vw;

    .action__item {
      position: relative;

      .action__link {
        @include hover();
      }

      .action__link_count {
        color: #1B1A17;

        .count {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(55%, -40%);
          background-color: #E6C8B4;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include font(8px, 9px);
        }
      }
    }
  }
}

.collection {
  display: flex;
  align-items: center;
  background-color: $back_main;
  position: relative;
  padding: 0 200px 0 185px;

  .collection__content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    min-width: 50%;

    .collection__title {
      margin: 0;
      margin-bottom: 16px;
      font-family: 'Playfair Display';
      color: #1B1A17;
      @include font(45px, 60px);
    }

    .collection__subtitle {
      margin: 0;
      font-family: 'Playfair Display';
      color: #1B1A17;
      @include font(30px, 40px);
    }

    .collection__description {
      margin: 0;
      margin: 39px 0 64px;
      width: 258/1366*100vw;
      color: rgba(27, 26, 23, 0.82);
      @include font(14px, 21px, 300);
    }

    .button {
      background-color: #444240;
    }

    .line {
      align-self: flex-start;
      position: absolute;
      left: -14%;
      top: 10%;
    }
  }

  .collection__half-circle {
    position: relative;
    min-width: 496px;
    right: 20%;
    height: 944px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
    clip-path: inset(94px 0 82px 0);

  }

  .collection__watch {
    position: relative;
    right: 53%;
    bottom: -6px;
    display: block;
    min-width: 502px;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../vendor/images/watch_main.png');

    .diameter {
      position: absolute;
      display: flex;
      align-items: baseline;
      right: -18%;
      bottom: 14%;
      font-family: 'Prata', serif;

      .diameter__text {
        margin: 0;

      }

      .diameter__line {
        @include line();
        margin-right: 15px;
      }
    }

  }
}

.price {
  position: absolute;
  display: flex;
  align-items: baseline;
  left: 20%;
  top: 25%;
  font-family: 'Prata', serif;

  .price__text {
    margin: 0;
    margin-right: 8px;

  }

  .collection__line {
    @include line();
    margin-left: 15px;
  }
}

.popular__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .card {
    width: 370px;
    height: 467px;

    .card__link {
      padding-left: 88px;
      display: block;
      position: relative;
      color: inherit;
      text-decoration: none;
      @include hover();

      &::before {
        content: '';
        position: absolute;
        @include line(30px);
        left: 40px;
        top: 8px;
      }
    }

    .price {
      position: static;
    }

    .card__watch {
      position: relative;
      width: 313px;
      height: 313px;
      background-image: url(../vendor/images/watch_1.png);
      background-color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 1px;
      //border: 1px solid #E2D0C4;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background-image: linear-gradient(90deg, #E2D0C4 0%, #E2D0C4);
      }
    }
  }

}