@import url('../vendor/fonts/Prata/prata.css');
@import url('../vendor/fonts/Playfair_Display/playfair.css');
@import url('normalize.css');

$back_main: #FDFDFB;

@mixin hover() {
  transition: opacity .4s;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

@mixin list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@mixin font ($size, $height, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin line ($width: 50px) {
  align-self: center;
  min-width: $width;
  border-bottom: 1px solid #8B8371;
  margin-bottom: 4px;
}


.button {
  width: 205px;
  height: 64px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  @include font(12px, 14px, 500);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  @include hover();
}

.line {
  @include line();
}

.page {
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 30px 100/1366*100vw;
  background-color: $back_main;
  color: #555248;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  .logo__title {
    margin: 0;
    padding-left: 4px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
  }
}

.menu__items {
  @include list();
  gap: 65/1366*100vw;
  @include font(14px, 16px);

  .menu__link {
    text-decoration: none;
    color: inherit;
    @include hover();
  }
}

.actions {

  .actions__items {
    @include list();
    gap: 23/1366*100vw;

    .action__item {
      position: relative;

      .action__link {
        @include hover();
      }

      .action__link_count {
        color: #1B1A17;

        .count {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(55%, -40%);
          background-color: #E6C8B4;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include font(8px, 9px);
        }
      }
    }
  }
}

.collection {
  display: flex;
  align-items: center;
  background-color: $back_main;
  position: relative;
  padding: 0 200px 0 185px;

  .collection__content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    min-width: 50%;

    .collection__title {
      margin: 0;
      margin-bottom: 16px;
      font-family: 'Playfair Display', serif;
      color: #1B1A17;
      @include font(45px, 60px);
    }

    .collection__subtitle {
      margin: 0;
      font-family: 'Playfair Display', serif;
      color: #1B1A17;
      @include font(30px, 40px);
    }

    .collection__description {
      margin: 0;
      margin: 39px 0 64px;
      width: 258/1366*100vw;
      color: rgba(27, 26, 23, 0.82);
      @include font(14px, 21px, 300);
    }

    .button {
      background-color: #444240;
    }

    .line {
      align-self: flex-start;
      position: absolute;
      left: -14%;
      top: 10%;
    }
  }

  .collection__half-circle {
    position: relative;
    min-width: 496px;
    right: 20%;
    height: 944px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
    clip-path: inset(94px 0 82px 0);
  }

  .collection__watch {
    position: relative;
    right: 53%;
    bottom: -6px;
    display: block;
    min-width: 502px;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../vendor/images/watch_main.png');

    .diameter {
      position: absolute;
      display: flex;
      align-items: baseline;
      right: -18%;
      bottom: 14%;
      font-family: 'Prata', serif;

      .diameter__text {
        margin: 0;
      }

      .diameter__line {
        @include line();
        margin-right: 15px;
      }
    }
  }
}

.price {
  position: absolute;
  display: flex;
  align-items: baseline;
  left: 20%;
  top: 25%;
  font-family: 'Prata', serif;

  .price__text {
    margin: 0;
    margin-right: 8px;
  }

  .collection__line {
    @include line();
    margin-left: 15px;
  }
}

.popular {
  position: relative;
}

.popular__heading {
  text-align: center;
  font-family: 'Playfair Display', serif;
  @include font(32px, 43px);
  color: #1B1A17;
}

.popular__link {
  text-decoration: none;
  @include hover();
  padding-bottom: 12px;
  color: #444240;
  border-bottom: 1px solid #C4C0B6;
  position: relative;
  left: 85vw;
  font-weight: 500;
}

.popular__cards {
  display: flex;
  margin-top: 40px;
  margin-bottom: 86px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 34/1366*100vw;

  .card {
    background-color: $back_main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 370px;
    height: 467px;
    z-index: 2;

    .card__heading {
      flex-basis: 100%;
      font-family: 'Playfair Display', serif;
      padding-left: 40px;
      margin: 40px 0 0;
      @include font(14px, 24px, 700);
      letter-spacing: 0.03em;
      color: rgba(27, 26, 23, 0.82);
    }

    .card__link {
      padding-left: 88px;
      display: block;
      position: relative;
      color: inherit;
      text-decoration: none;
      flex-basis: 100%;
      @include hover();
      font-family: 'Playfair Display', serif;
      color: #1B1A17;

      &::before {
        content: '';
        position: absolute;
        @include line(30px);
        left: 40px;
        top: 8px;
      }
    }

    .price {
      position: static;
      flex-basis: 100%;
      font-family: 'Prata', serif;
      @include font(12px, 16px);
      color: rgba(27, 26, 23, 0.82);
      padding-left: 40px;
    }

    .card__watch {
      position: relative;
      box-sizing: border-box;
      width: 313px;
      height: 313px;
      background-image: url(../vendor/images/watch_1.png);
      background-color: $back_main;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 1px;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background-image: linear-gradient(to right, #fff, #E2D0C4);
      }
    }

    &:nth-child(2) {
      .card__watch {
        background-image: url(../vendor/images/watch_3.png);
      }
    }

    &:nth-child(3) {
      .card__watch {
        background-image: url(../vendor/images/watch_4.png);
      }
    }
  }
}

.bunner {
  position: relative;
  background-color: $back_main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 80px;

  .bunner__back {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F7F5EF;
    min-height: 519px;
    width: 468/1366*100vw;

    .bunner__count {
      position: absolute;
      right: -150/1366*100vw;
      bottom: 16px;
      display: flex;
      align-items: center;

      .count {
        margin: 0;
      }

      .arrow {
        border: none;
        background-color: transparent;
        padding: 0;
        @include hover();
      }

      .count {
        color: rgba(27, 26, 23, 0.82);
        font-family: 'Prata', serif;
        @include font(12px, 16px);
        padding: 0 20px;
      }
    }

    .bunner__img {
      padding-left: 177/468*100%;
      width: 521/468*100%;
      min-height: 414px;
      object-fit: cover;

    }
  }

  .bunner__content {
    position: relative;
    max-width: 376px;
    padding-left: 300/1366*100vw;

    .bunner__heading {
      font: 32px/43px 'Playfair Display', serif;
      margin: 0;
      color: #1B1A17;
    }

    .bunner__text {
      @include font(16px, 24px);
      margin: 33px 0 40px;
      color: #444240
    }

    .button {
      background-color: #D4B098;
    }
  }

  .bunner__circiles {
    position: relative;
    align-self: flex-start;
    width: 200/1366*100vw;
    min-height: 519px;
    background-repeat: no-repeat;
    background-image: url(../vendor/images/circle-small.svg);

    &::after {
      content: '';
      position: absolute;
      top: 12px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../vendor/images/circle-big.svg);
    }
  }
}

.news {
  padding: 0 98px 90px;
  display: flex;
  justify-content: space-between;

  .news__content {

    .news__heading {
      font: 32px/43px 'Playfair Display', serif;
      color: #1B1A17;
      margin: 0;
      padding: 140px 0 30px;
    }

    .news__text {
      width: 378px;
      margin: 0;
      padding-bottom: 110px;
      @include font(16px, 27px);
      color: #444240;

      span {
        font-weight: 700;
        color: #262421;
      }
    }

    .social {
      @include list();
      gap: 18px;
      justify-content: flex-start;

      .social__item {
        .social__link {
          @include hover();
        }
      }
    }
  }

  .news__grid {
    display: grid;
    grid-template-columns: (242px 377px);
    grid-template-rows: (228px 222px);
    gap: 10px;

    .grid__item {
      object-fit: cover;
    }

    .grid__item_big {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.footer {
  background-color: #444240;
  color: rgba(255, 255, 255, 0.75);
  @include font(12px, 14px);
  padding: 67px 182px;
  display: flex;
  justify-content: space-between;

  .logo__title {
    @include font(14px, 19px, 700);
    align-self: flex-end;
    color: #fff;
  }

  .list {
    padding: 0;
    list-style-type: none;
    padding-top: 33px;

    .list__item {
      padding-bottom: 15px;

      .list__link {
        text-decoration: none;
        color: inherit;
        @include hover();
      }

    }
  }
  .footer__heading {
    text-transform: uppercase;
    line-height: 16px;
    margin: 0;
    padding-top: 7px;
    color: #fff;
  }
}
